version: '3.7'
services:
    nodejs:
        image: node:14-alpine
        volumes: 
            - .:/var/www/blog
        ports: 
            - 3000:3000
        networks: 
            - blog
        working_dir: /var/www/blog
        tty: true
        command: sh -c "yarn install & yarn run start:dev"
    postgres:
        build: ./docker/postgres
        env_file: ./docker/postgres/.env
        ports: 
            - 127.0.0.1:5432:5432
        volumes:
            - ./docker/postgres/logs:/var/log/postgresql
            - postgres-blog:/var/lib/postgresql/data
        networks: 
            - blog
    pgadmin:
        image: dpage/pgadmin4:4
        env_file: ./docker/pgadmin/.env
        ports: 
            - 127.0.0.1:5050:5050
        networks: 
            - blog
    minio:
        image: minio/minio:RELEASE.2021-01-05T05-22-38Z
        env_file: ./docker/minio/.env
        ports:
            - 127.0.0.1:9000:9000
        volumes:
            - minio-blog:/export
        networks: 
            - blog
        command: server --address 0.0.0.0:9000 /data
networks:
    blog:
volumes:
    postgres-blog:
    minio-blog: